---
import MainLayout from "../../layouts/global.astro"

//TODO: add the interface for the frontmatter of the blog posts
interface Frontmatter {
	title: string
	cover: string
	description: string
	author: string
	date: string
}

const posts = await Astro.glob<Frontmatter>("./*.mdx")
posts.sort((a, b) => {
	const dateA = Date.parse(a.frontmatter.date)
	const dateB = Date.parse(b.frontmatter.date)
	return dateB - dateA
})
---

<MainLayout title="Blog">
	<section>
		<h1>Blog Posts</h1>
		{
			posts.map((post) => (
				<article class="mb-6 rounded-lg grid grid-cols-3 hover:bg-blue-950 hover:scale-110 hover:translate-x-2 transition-all ease-in-out">
					<a href={post.url} class="rounded-2xl">
						<img class="object-cover h-24 w-48 rounded-2xl" src={post.frontmatter.cover} alt="blog cover" />
					</a>
					<div class="grid grid-cols-1 col-span-2 gap-2 text-2xl place-content-center flex-grow">
						<a href={post.url} class="text-white">
							{post.frontmatter.title}
						</a>
						<div class="text-sm font-light">{post.frontmatter.description}</div>
						<div class="text-sm font-bold ">by {post.frontmatter.author}</div>
					</div>
				</article>
			))
		}
	</section>
</MainLayout>
